.btn-primary {
  background-color: #e8f75f;
}
mat-card {
  width: 256px;
}

body {
  background-color: #e8f75f;
}
.mat-app-background {
  background-color: #000057;
}

.btn-primary {
  background-color: #e8f75f;
}

mat-card {
  width: 50%;
  margin: auto;
  text-align: center;
}

.title {
  margin: auto;
  background-color: #000057;
  color: white;
}
.quiz {
  text-align: center;
  margin: auto;
  max-width: 400px;
}
